<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--set precompile-->
        <property name="connection.url">jdbc:mysql://localhost:3306/bookingSystem?useServerPrepStmts=true&cachePrepStmts=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!--Printing sql queries-->
        <property name="show_sql">true</property>
        <!--Formatted print SQL statement, looks more clear-->
        <property name="format_sql">true</property>
        <!-- DB schema will be updated if needed -->
        <property name="bookingSystem.hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- 指定连接池里最大连接数 -->
        <property name="hibernate.c3p0.max_size">100</property>
        <!-- 指定连接池里最小连接数 -->
        <property name="hibernate.c3p0.min_size">2</property>
        <!-- 指定连接池里获得连接的超时时长，单位毫秒 -->
        <property name="hibernate.c3p0.timeout">5000</property>
        <!-- 指定连接池里最大缓存多少个Statement对象 -->
        <property name="hibernate.c3p0.max_statements">100</property>
        <!-- 每隔多少秒检查连接池里的空闲连接 -->
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <!-- 每次都验证连接是否可用 -->
        <property name="hibernate.c3p0.validate">true</property>
        <mapping resource="beans/beans.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
